.batman{
    position: relative;
    top: 0;
    left: 0;
    transform: rotateZ(-90deg) translateY(1050px) translateX(-500px) scale(10)
  }
  
  .joker{
    position: absolute;
    top: 0px;
    left: 0px;
  }